.main {
    margin-bottom: 15px;

    label {
        text-transform: uppercase;
        margin-bottom: 4px;
    }
}

.input {
    background: #F9FAFB;
    color: #666666;
    height: 58px;

    input {
        background: #F9FAFB;
    }
}